#Ignore everything
/*
!hypr/
!kitty/
!nvim/
!rofi/
!wal/
!waybar/
!wofi/
!wlogout/
!.gitignore
**/monitor.conf
nvim/plugin/packer_compiled.lua
environment.d/50-github-pat.conf
kitty/current-theme.conf
