* {
	font-size:15px;
}

window#waybar{
    all:unset;
}

.modules-center {
    padding:3px;
    margin:5 0 5 0;
    border-radius:10px;
    background: alpha(#373737,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-right {
    padding:3px;
    margin: 5 0 5 0;
    border-radius:10px;
    background: alpha(#373737,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

tooltip {
    background-color: rgba(55, 55, 55, 0.8);
    color: #1eebd6;
}

#workspaces {
    padding: 0px 5px;
}
#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: alpha(#1eeb3d,.4);
    transition: all .2s ease;
}
#workspaces button:hover {
    color:rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.active {
    color: #1eeb3d;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#workspaces button.empty {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.empty.active {
    color: #1eeb3d;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#network{
    padding: 0px 5px;
    transition: all .3s ease;
    color:#1eebd6;

}
#pulseaudio{
    padding: 0px 5px;
    transition: all .3s ease;
    color:#1eebd6;
}
#cpu,#memory{
    padding: 0px 5px;
    transition: all .3s ease;
    color:#1eebd6;

}
#clock:hover, #custom-pacman:hover, #custom-notification:hover,#bluetooth:hover,#network:hover,#battery:hover, #cpu:hover,#memory:hover,#temperature:hover{
    transition: all .3s ease;
    color:#1eeb3d;
}
#custom-notification {
    padding: 0px 5px;
    transition: all .3s ease;
    color:#1eebd6;
}
#clock, #tray, #pulseaudio, #network, #cpu, #memory {
    margin: 0 5px; 
}
#clock{
    padding: 0px 5px;
    color:#1eebd6;
    transition: all .3s ease;
}
#tray{
    padding: 0px 5px;
    transition: all .3s ease;

}
#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease;
}

#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease;
}
